.header-nav {
  align-items: center;
  margin: 10px 100px;
  /* margin-right: minmax(20px, 100px);  */
  text-align: center;
  min-width: 650px;

  display: flex;
  justify-content: space-between;
}

nav a, nav a:hover, nav a:active {
  font-weight: normal;
  color: #264653;
  font-size: 16px;
  line-height: 24px;
  text-decoration-color: #E9C46A;
}

nav ul {
  display: flex;
  justify-self: left;
}

.header-nav li {
  margin-right: 50px
}

.landing-logo {
  margin-left: -80px
}

.upload-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  height: 26px;
  background: #264653;
  border-radius: 2px;
  color: white;

  width: 189px;
  height: 36px;
  border-radius: 2px;
  text-align: center;

  padding-top: 5px;
}